<!DOCTYPE html>
<html>
  <head>
    <title>Jogos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
       <li><a href="http://localhost:3000/jogos/listagem">Jogos!</a></li>
    </ul>
  </body>
</html>
